body {
    width: 100vw;
    height: 100vh;
}


.header-area {
    background-color: black;

    color: white;
    display: flex;

    align-items: center;
    justify-content: space-evenly;

    padding: 10px;
}


.header-icons {
    display: flex;
    gap: 20px;
}



#menu-button:hover {
    scale: 1.1;
    cursor: pointer;
    transition: all 0.2s;
}

#profile-button:hover {
    scale: 1.1;
    cursor: pointer;
    transition: all 0.2s;
}

#cart-button:hover {
    scale: 1.1;
    cursor: pointer;
    transition: all 0.2s;
}

.cartAmount {
    position: absolute;
    top: 8px;
    left: 245px;
    font-size: 0.6em;
    max-height: 14px;
    min-height: 14px;
    min-width: 14px;
    max-width: 14px;
    border-radius: 50%;
    
    display: none;
    justify-content: center;
    align-items: center;
    background-color: red;
}

@media (min-width: 501px){
    .header-area {
        justify-content: space-between;
    }

    .cartAmount {
        top: 10px;
        left: 140px;
    }
}


.home-logo {
    font-size: 1.1em;
    cursor: pointer;

    transition: all 0.2s;

    text-decoration: none;
    color: white;
    outline: none;
}


.home-logo:hover {
    transform: scale(1.1);

}


.header-search-bar {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 40px;
    justify-self: center;
    overflow: hidden;
    background-color: white;
}

.header-search-bar .search-input {
    width: 800px;
    height: 100%;
    border: none;
    font-size: 0.9em;
    padding: 20px;
    border-radius: 0%;
}

.header-search-bar .search-input:focus {
    border: none;
    outline: none;
}

.header-search-bar .search-icon {
    height: 100%;
    width: 8%;
    background-color: transparent;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    outline: hidden;
}

.header-search-bar .search-icon #search-icon-svg:hover {
    scale: 1.1;
    cursor: pointer;
    transition: all 0.2s;
}

.header-nav-menu {
    min-width: 25%;
    max-width: 25%;
    cursor: pointer;
    padding-left: 35px;
}

.header-nav-menu .menu {
    display: flex;
    flex-direction: row;
    gap: 30px;

    font-size: 0.8em;
}


.header-nav-menu .menu .menu-items {
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 1px 0px;
}

.header-nav-menu .menu-items::after {
    content: '';
    background-color: white;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-radius: 2px;

    transition: width 0.4s ease-out;
}

.header-nav-menu .menu-items:hover::after {
    width: 100%;
}