@media (min-width: 320px) and (max-width: 500px) {

    .header-area {
        background-color: black;
        width: 100%;
        color: white;
    
        min-height: 80px;
        max-height: 80px;
        
        
        display: flex;
    
        align-items: center;
        justify-content: space-between;
    
        padding: 15px;
    }

    .header-icons {
        min-width: 10%;
        max-width: 10;
    
        display: flex;
        gap: 20px;
    }

    .header-search-bar {
        width: 100%;
        background-color: white;
    }

    #cart-button {
        display: none;

    }

    #profile-button {
        display: none;
    }

    .header-nav-menu {
        display: none;
    }

    .header-search-bar .search-input {
        width: 85%;
        border-radius: 0%;
    }

    .header-search-bar .search-icon {
        height: 100%;
        width: 15%;
        background-color: white;
        outline: hidden;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
  }

@media (min-width: 501px) and (max-width: 1919px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    .header-area {
        font-size: 0.9em;
        width: 100%;
    }

    .header-icons {
        width: 30%;
        margin: 0%;
    }

    .header-search-bar {
        width: 40%;
        margin: 0%;
    }

    .header-nav-menu {
        min-width: 30%;
        max-width: 30%;
        padding-left: 0px;
    }

    .menu {
        width: 100%;
    }

    .header-search-bar .search-input {
        width: 90%;
    }

    .search-icon {
        width: 10%;
    }
}