@media (min-width: 320px) and (max-width: 500px) {
    .sidebar {
        height: 0%;
        width: 100%;
    
        pointer-events: none; 
    
        overflow: hidden;
    
        transition: all 0.3s ease-in-out;
    }

    .sidebar.open {
        height: 100%;
        width: 100%;
    }
    
}

@media (min-width: 501px) and (max-width: 1919px) {
    body {
        height: 100vh;
    }
    .sidebar.open {
        height: 100vh;
    }
}